---
import Layout from "../layouts/Layout.astro";
import Navigationbar from "../components/Navigationbar.astro";
import HeroSection from "../components/Herosection.astro";
---

<Layout title="splicho.gg | Graphic Designer & Frontend Developer">
  <main>
    <Navigationbar />
    <HeroSection />
  </main>
</Layout>
