---
import Primarybutton from "./ui/Buttons/Primarybutton.astro";
import Discordhandle from "./ui/Discordhandle.astro";
---

<section class="w-full p-60 flex justify-center">
  <div class="flex flex-col gap-10">
    <h1 class="text-5xl text-white font-heading font-black text-center">
      Hey, I'm splicho.
    </h1>
    <p class="text-white font-normal text-xl text-center">
      A self-thought Graphic Designer & Frontend Developer.
    </p>
    <div class="flex gap-6 justify-center">
      <Primarybutton />
      <Discordhandle />
    </div>
  </div>
</section>
