---
import Primarybutton from "./ui/Buttons/Primarybutton.astro";
import Discordhandle from "./ui/Discordhandle.astro";
import Associators from "./ui/Associators.astro";
---

<section
  class="p-48 flex justify-center bg-gradient-to-tr from-current via-black to-stone-400"
>
  <div class="flex flex-col gap-5">
    <h1
      class="text-center max-w-[56rem] text-6xl sd:text-l font-bold tracking-tighter bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-500"
    >
      Sup, I'm splicho.
    </h1>
    <p
      class="max-w-[600px] text-zinc-200 md:text-xl dark:text-zinc-100 mx-auto text-center"
    >
      A self-thought Graphic Designer & Frontend Developer.
    </p>
    <div class="flex gap-6 justify-center">
      <Primarybutton />
      <Discordhandle />
    </div>
    <Associators />
    <div class="flex flex-col justify-center items-center gap-5 mt-56">
      <a href="#testimonials">
        <svg
          width="40px"
          height="100%"
          viewBox="0 0 247 390"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"
        >
          <path
            id="wheel"
            d="M123.359,79.775l0,72.843"
            style="fill:none;stroke:#fff;stroke-width:20px;"></path>
          <path
            id="mouse"
            d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
            style="fill:none;stroke:#fff;stroke-width:20px;"></path>
        </svg>
      </a>
      <p class="text-white">Scroll down</p>
    </div>
  </div>
</section>
