---
import Socialicons from './ui/Buttons/Socialicons.astro'
---

<nav class="w-full py-3 flex justify-center bg-black border-b-gray-400 border-b-[1px]">
    <div class="container flex items-center justify-between">
      <div class="flex items-center gap-10">
        <a href="/">
          <span class="sr-only">Home</span>
          <img
            src="/app_logo.svg"
            width="25"
            height="25"
            alt="Logo"
            class="hover:opacity-[.6] transition-opacity ease duration-100"
          />
        </a>
        <nav class="md:flex items-center gap-10">
          <a class="text-xl font-medium tracking-wide text-white hover:text-gray-300" href="/about">
            About
          </a>
          <a class="text-xl font-medium tracking-wide text-white hover:text-gray-300" href="/portfolio">
            Portfolio
          </a>
          <a class="text-xl font-medium tracking-wide text-white hover:text-gray-300" href="/portfolio">
            Blog
          </a>
        </nav>
      </div>
      <Socialicons />
    </div>
  </nav>