---
import emudevs from "../images/Logo_white.svg";
import wyndao from "../images/wyndao.svg";
import emutop from "../images/emutop.svg";
import leakforums from "../images/Leakforums.svg";
import { Image } from "astro:assets";
---

<div class="flex flex-col gap-16 mt-36">
  <div class="text-center text-4xl text-white font-bold">Trusted By</div>
  <ul class="flex flex-wrap justify-center items-center gap-10">
    <li>
      <Image
        src={emudevs}
        width={200}
        height={120}
        quality={80}
        format="webp"
        alt="emudevs"
      />
    </li>
    <li>
      <Image
        src={emutop}
        width={200}
        height={120}
        quality={80}
        format="webp"
        alt="wyndao"
      />
    </li>
    <li>
      <Image
        src={wyndao}
        width={200}
        height={120}
        quality={80}
        format="webp"
        alt="wyndao"
      />
    </li>
    <li>
      <Image
        src={leakforums}
        width={200}
        height={120}
        quality={80}
        format="webp"
        alt="wyndao"
      />
    </li>
  </ul>
</div>
